// Config -----------------------------------
@syntax-hue:          220;
@syntax-saturation:   13%;
@syntax-brightness:   18%;


// Monochrome -----------------------------------
@monochrome:  hsl(@syntax-hue, 14%, 71%); // default text
@monochrome2: hsl(@syntax-hue,  9%, 55%);
@fadegrey:    hsl(@syntax-hue, 10%, 40%); // comments

// Colors -----------------------------------
@cyan:        hsl(187,  47%,  55%);
@lightblue:   hsl(207,  82%,  66%);
@blue:        hsl(207,  62%,  45%);
@darkpurple:  hsl(259,  37%,  60%);
@darkblue:    hsl(259, 100%,  69%);
@purple:      hsl(286,  60%,  67%);
@green:       hsl( 95,  38%,  62%);
@darkgreen:   hsl(121, 32%, 40%);

@red1:        hsl(355,  65%,  65%); // nice red
@red2:        hsl(  5,  48%,  51%); // jarring red

@orange1:     hsl( 29,  54%,  61%);
@orange2:     hsl( 39,  67%,  69%);


// Base colors -----------------------------------
@syntax-fg:     @monochrome;
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: hsl(@syntax-hue, 100%, 66% );
